.button {
  margin: 5px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: medium;
  background-color: rgb(185, 203, 236);
  border: none;
  border-radius: 10%;
}

.button:hover {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 255, 0.5);
}
